Repository INSOPT-CDS-Behance/frontend, pull requests merged in 2022-11, with the labels that each got.

#16 [ 🙂 MyPage ] 페이지 UI 구현
  src/asset/icon/Lock on.svg
  src/asset/icon/index.ts
  src/asset/image/Profile.svg
  src/asset/image/Rectangle 126.svg
  src/asset/image/Rectangle 342.svg
  src/asset/image/UserInfo.svg
  src/asset/image/Vector 15.svg
  src/asset/image/index.ts
  src/asset/image/사진.svg
  src/components/MyPage/Header.tsx
  src/components/MyPage/MoveBoard.tsx
  src/components/MyPage/Nav.tsx
  src/components/MyPage/index.ts
  src/components/common/Router.tsx
  src/pages/MyPage.tsx
  src/styles/globalStyle.ts
  src/styles/theme.ts
Labels: 🙂 Mypage

#22 [ 🙂 MyPage ] 무드보드 편집 UI 구현
  src/asset/icon/edit.svg
  src/asset/icon/ic_close.svg
  src/asset/icon/index.ts
  src/components/MyPage/Edit.tsx
  src/components/MyPage/MoveBoard.tsx
  src/components/common/Router.tsx
  src/pages/MyPage.tsx
Labels: 🙂 Mypage

#8 [ 🏠 Home ] 홈 서브 헤더 구현
  src/asset/icon/Line 5.svg
  src/asset/icon/Next button.svg
  src/asset/icon/_btn_live contents.svg
  src/asset/icon/btn_add_big.svg
  src/asset/icon/ic_dropdown.svg
  src/asset/icon/ic_favorite_fill_24.svg
  src/asset/icon/ic_person_fill_24.svg
  src/asset/icon/ic_search.svg
  src/asset/icon/ic_star_fill_24.svg
  src/asset/icon/index.ts
  src/components/Home/Header.tsx
  src/components/Home/index.ts
  src/components/Main/Header.tsx
  src/components/Main/index.ts
  src/components/common/Router.tsx
  src/pages/Home.tsx
  src/pages/Main.tsx
  src/styles/theme.ts
Labels: 🏠 Home

#13 [ 🏠 Home ] 홈화면 썸네일 + 스크롤 헤더 제작
  src/App.tsx
  src/asset/icon/Arrow_down.svg
  src/asset/icon/IcAlertFill.svg
  src/asset/icon/IcMailFii.svg
  src/asset/icon/btn_share.svg
  src/asset/icon/ic_adobe.svg
  src/asset/icon/ic_behance.svg
  src/asset/icon/ic_home_preview.svg
  src/asset/icon/ic_recommend.svg
  src/asset/icon/ic_searchHover.svg
  src/asset/icon/ic_visible_fill.svg
  src/asset/icon/index.ts
  src/asset/image/previewImg.png
  src/asset/image/profileImg.png
  src/components/Home/PageCategory.tsx
  src/components/Home/SearchInput.tsx
  src/components/Home/SubHeader.tsx
  src/components/Home/index.ts
  src/components/common/ContentPreview.tsx
  src/components/common/PersonalInfo.tsx
  src/components/common/index.ts
  src/components/layout/HeaderLayout.tsx
  src/components/layout/index.ts
  src/fonts/Acumin-Pro-MediumSub.ttf
  src/fonts/font.d.ts
  src/pages/Home.tsx
  src/styles/globalStyle.ts
  src/styles/style.d.ts
  src/styles/theme.ts
  src/types/common.ts
Labels: 🏠 Home

#24 [ 🙂 MyPage ] 미리보기 툴팁 구현
  src/asset/image/Group 107.svg
  src/asset/image/Union.svg
  src/asset/image/camera.svg
  src/asset/image/index.ts
  src/components/MyPage/MoveBoard.tsx
  src/components/MyPage/Tolltip.tsx
Labels: 🙂 Mypage

#31 [ 🏠Home ] 미리보기 호버 구현
  src/asset/icon/ic_Tumbsup.svg
  src/asset/icon/ic_eyeoff.svg
  src/asset/icon/ic_folder.svg
  src/asset/icon/ic_glass.svg
  src/asset/icon/index.ts
  src/components/Home/Hover.tsx
  src/components/Home/SearchInput.tsx
  src/components/common/ContentPreview.tsx
  src/pages/Home.tsx
  src/styles/theme.ts
  src/types/common.ts
Labels: 🏠 Home

#27 [ 🔍 Search ] 유사프로젝트 컴포넌트 구현
  src/asset/icon/ic_close.svg
  src/asset/icon/ic_openlink.svg
  src/asset/icon/index.ts
  src/components/common/Hover.tsx
  src/components/common/Modal.tsx
  src/components/common/Router.tsx
  src/components/search/ButtonModal.tsx
  src/components/search/CategoryButton.tsx
  src/components/search/HamburgerModal.tsx
  src/components/search/HrContainer.tsx
  src/components/search/Searchbar.tsx
  src/components/search/Thumbnail.tsx
  src/components/search/TitleBoard.tsx
  src/components/search/TransparentCategory.tsx
  src/components/search/TransparentHeader.tsx
  src/components/search/WhiteHeader.tsx
  src/components/search/index.ts
  src/pages/Search.tsx
  src/types/common.ts
Labels: 🔍 Search

#42 [ 🏠 Home ] 프로젝트 모두 조회 / 좋아요 서버 연결
  .gitignore
  package.json
  src/components/common/ContentPreview.tsx
  src/components/layout/HeaderLayout.tsx
  src/pages/Home.tsx
  src/types/common.ts
  src/types/project.ts
  src/utils/lib/apt.ts
  src/utils/lib/index.ts
  src/utils/lib/project.ts
Labels: 🏠 Home

#52 [ 🏠 Home ] Home 브랜치 👉 main
  src/components/common/ContentPreview.tsx
  src/components/layout/HeaderLayout.tsx
  src/pages/Home.tsx
  src/types/common.ts
  src/types/project.ts
  src/utils/lib/index.ts
  src/utils/lib/project.ts
Labels: 🏠 Home

#51 [ 🔍 Search & 📃 Detail ] 세부 스타일링 수정
  .gitignore
  package.json
  src/asset/icon/blueHamburger.svg
  src/asset/icon/index.ts
  src/atom/projectClicked.ts
  src/components/Detail/BottomIcon.tsx
  src/components/Detail/DetailBlackHeader.tsx
  src/components/Detail/DetailHover.tsx
  src/components/Detail/DetailWhiteHeader.tsx
  src/components/common/Hover.tsx
  src/components/common/Router.tsx
  src/components/search/ButtonModal.tsx
  src/components/search/CategoryButton.tsx
  src/components/search/HamburgerModal.tsx
  src/components/search/LeftThumbnail.tsx
  src/components/search/Preview.tsx
  src/components/search/Searchbar.tsx
  src/components/search/SimilarProject.tsx
  src/components/search/TransparentCategory.tsx
  src/components/search/WhiteHeader.tsx
  src/components/search/index.ts
  src/pages/Detail.tsx
  src/pages/Search.tsx
  src/types/common.ts
  src/types/project.ts
  src/utils/atoms.ts
  src/utils/lib/project.ts
  yarn.lock
Labels: 🔍 Search, 📃 Detail
